pyarrow
scipy
matplotlib
numpy
pandas
# TODO: Switch back to PyPI version once Pydantic v2 is released
# oedisi>=2.0.2,<3
git+https://github.com/openEDI/oedisi.git@main
helics>=3.6.1
-r recorder/requirements.txt
-r LocalFeeder/requirements.txt
-r measuring_federate/requirements.txt
-r wls_federate/requirements.txt
-r lindistflow_federate/requirements.txt
