pyarrow
scipy
matplotlib
numpy
pandas
oedisi~=3.0
helics>=3.6.1
-r recorder/requirements.txt
-r LocalFeeder/requirements.txt
-r measuring_federate/requirements.txt
-r wls_federate/requirements.txt
-r lindistflow_federate/requirements.txt
